/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#left-sidebar-nav {
  float: left !important;
    width: 200px;
    left: 20px;
    z-index: 0;
    height: auto;
}
#container{
  float: left;
  width: 100%;
}

#card-stats {
  display: inline-block;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}